body{
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
  color: #40514E;
}
h1{
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', serif;
  font-size: 5.625rem;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr{
  border: none;
  border-top: 10px dotted #EAF6F6;
  width: 5%;
  margin: 100px auto;
}
p{
  font-family: 'Merriweather', serif;
  line-height: 2;
}
a{
  color: #11999E;
}
.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}
.intro{
  width: 30%;
  margin: 20px auto 100px;
}
.middle-container{
  margin: 100px 0;
  position: relative;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.pro{
  text-decoration: line-through;
}
.bottom-cloud{
  position: absolute;
  left: 15%;
  bottom: 40%;
}
.top-cloud{
  position: absolute;
  right: 350px;
  top: 50px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.router-images{
  border-radius: 50%;
  margin-right: 30px;
  width: 25%;
  float: left;
}
.program-images{
  border-radius: 50%;
  margin-left: 30px;
  width: 25%;
  float: right;
}
.network-skill-description{
  clear: left;
}
.webdev-skill-description{
  clear: right;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
  margin: 1px 20px;
  color: #11999E;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
